@font-face {
    font-family: 'Jacoby';
    src: url(fonts/JacobyICGBlackCyrillic-Regular.otf) format('truetype');
    font-weight: 400; 
    font-style: normal;
}
@font-face {
    font-family: 'Jura';
    src: url(fonts/Jura.ttf) format('truetype');
    font-weight: 400; 
    font-style: normal;
}

/* Стили для авторизованного пользователя */
.nav-item.auth-user {
    display: flex;
    align-items: center;
    gap: 15px;
}
.user-name {
    color: white;
    font-size: 18px;
}
.logout-btn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-family: 'Jacoby';
    font-size: 18px;
    padding: 0;
    transition: all 0.3s ease;
}
.logout-btn:hover {
    text-shadow: 0 0 5px white;
}


/* Забыли пароль*/
.forget-pass-dialog{
    font-family: 'Jura';
    width: 100%;
    height: 75%;
    border-radius: 15px;
    padding: 10px;
    background: linear-gradient(to bottom, #B2A2B3, #6F6470);
    overflow: hidden;
    animation: dialogFadeIn 0.3s ease-out forwards;
    box-sizing: border-box;
    margin: auto;
}
.forget-pass-dialog form button{
    background-color: #E1EDF9;
    border-radius: 15px;
    height: 80px;
    font-size: 44px;
}
.submitBtnForgetPass{
    margin: 0 auto;
    margin-top: 2vh;
}
.forget-pass-dialog button{
    display: block;
}
.content-forget-pass-dialog{
    margin: 0 auto;
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content-forget-pass-dialog form .input-forget-pass-dialog:first-child{
    margin-top: 0;
}
.content-forget-pass-dialog form .input-forget-pass-dialog{
    margin-top: 1.5vh;
}
.input-forget-pass-dialog{
    background-color: #D9D9D9;
    border-radius: 15px;
    height: 65px;
    width: 100%;
    padding-left: 20px;
    font-size: 25px;
    border: 1px solid transparent;
    display: block;
    margin: 0 auto;
}

/* Регистрация */
.registration-dialog{
    font-family: 'Jura';
    width: 100%;
    height: 75%;
    border-radius: 15px;
    padding: 10px;
    background: linear-gradient(to bottom, #B2A2B3, #6F6470);
    overflow: hidden;
    animation: dialogFadeIn 0.3s ease-out forwards;
    box-sizing: border-box;
    margin: auto;
}
.registration-dialog-title {
    font-size: 60px;
    text-align: center;
}

.content-registration-dialog{
    margin: 0 auto;
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content-registration-dialog form .input-registration-dialog:first-child{
    margin-top: 0;
}
.content-registration-dialog form .input-registration-dialog{
    margin-top: 1.5vh;
}
.input-registration-dialog{
    background-color: #D9D9D9;
    border-radius: 15px;
    height: 65px;
    width: 100%;
    padding-left: 20px;
    font-size: 25px;
    border: 1px solid transparent;
    display: block;
    margin: 0 auto;
}
.registration-dialog form button{
    background-color: #E1EDF9;
    border-radius: 15px;
    height: 80px;
    font-size: 44px;
}

.submitBtnRegistration{
    margin: 0 auto;
    margin-top: 2vh;
}

body{
    width: 95%;
    font-family: 'Jacoby';
    background-image: url('photos/bg.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0 auto;
}

/* Авторизация */
.sign-in-dialog {
    font-family: 'Jura';
    width: 33%;/*do adaptiv*/
    height: 65%;/*do adaptiv*/
    border-radius: 20px;
    padding-bottom: 35px;/*do adaptiv*/
    padding-left: 50px;/*do adaptiv*/
    padding-right: 50px;/*do adaptiv*/
    background: linear-gradient(to bottom, #B2A2B3, #6F6470);
    overflow: hidden;
    animation: dialogFadeIn 0.3s ease-out forwards;
}
.sign-in-dialog button{
    display: block;
}
#signInBtn{
    width: 60%;
}
.sign-in-dialog form button{
    background-color: #E1EDF9;
    border-radius: 15px;
    height: 80px;
    font-size: 44px;
}
#registrateBtn{
    width: 100%;
}
#recoverPassBtn{
    width: 70%;
}
#signInBtnForm{
    margin: 0 auto;
}
#signInBtnForm2{
    margin: 0 auto;
}
.content-sign-in-dialog{
    margin: 0 auto;
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.submitBtnSignIn{
    margin: 0 auto;
    margin-top: 2vh;
}
.content-sign-in-dialog form .input-sign-in-dialog:first-child{
    margin-top: 0;
}
.content-sign-in-dialog form .input-sign-in-dialog{
    margin-top: 1.5vh;
}
.input-sign-in-dialog{/*do adaptiv*/
    background-color: #D9D9D9;
    border-radius: 15px;
    height: 65px;
    width: 100%;
    padding-left: 20px;
    font-size: 30px;
    border: 1px solid transparent;
}
.btns{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}
.btns button{
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.3));/*уdo hover*/
}

/*ввод кода подтверждения*/
.content-check-code-dialog{
    margin: 0 auto;
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Изменено с space-between */
    gap: 20px; /* Контролируемое расстояние между элементами */
}
.check-code-dialog{
    font-family: 'Jura';
    width: 60%;
    height: 50%;
    border-radius: 15px;
    padding: 10px;
    background: linear-gradient(to bottom, #B2A2B3, #6F6470);
    overflow: hidden;
    animation: dialogFadeIn 0.3s ease-out forwards;
    box-sizing: border-box;
    margin: auto;
}
.code-input-block {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5px;
}
.code-input{
    width: 10%;
    height: 100%;
    border-radius: 10px;
    background-color: #c398e0;
    border: 1px solid green;
    outline: none;
    color: black;
    font-size: min(28px, 2vw);
    text-align: center;
    margin: 0 3px;
}
.dialog-subtitle{
    font-size: 30px;
    text-align: center;
}
.content-check-code-dialog form {
    height: 20%;
    width: 100%;
}

.project-selection-dialog{
    font-family: 'Jura';
    width: 33%;/*do adaptiv*/
    height: 45%;/*do adaptiv*/
    border-radius: 20px;
    padding-bottom: 35px;/*do adaptiv*/
    padding-left: 50px;/*do adaptiv*/
    padding-right: 50px;/*do adaptiv*/
    background: linear-gradient(to bottom, #B2A2B3, #6F6470);
    overflow: hidden;
    animation: dialogFadeIn 0.3s ease-out forwards;
    transition: height 0.3s ease;
}
.project-selection-btn{
    display: block;
    margin: 0 auto;
    font-size: 30px;
    width: 95%;
    border-radius: 15px;
    height: 80px;
}
.content-project-selection-dialog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 25px;
}
.btn-new {
    background-color: #c1ffe8; 
    transition: all 0.3s ease-in;
}
.btn-open {
    background-color: #bfdbf1; 
    transition: all 0.3s ease-in;
}
.btn-new:hover {
    background-color: #5faa7e; 
}
.btn-open:hover {
    background-color: #6188a7; 
}
.project-selection-title{
    font-size: 50px;
    text-align: center;
}
.create-project-section{
    margin-top: 15px;
    flex-direction: column;
    gap: 20px;
}
.create-project-btn{
    display: block;
    margin: 0 auto;
    font-size: 30px;
    width: 75%;
    border-radius: 10px;
    height: 50px;
}
.show-projects-section{
    overflow-y: auto;
    height: 75%;
    margin-top: 5px;
}
.project-item{
    width: 95%;
    border-radius: 15px;
    height: 70px;
    background-color: #eef6fd;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s ease;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}
.project-item:hover{
    background-color: #cecece;
}
.project-name{

}
.project-date{

}
.project-delete{
}
.header-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
}
.nav-item {
    position: relative;
    display: flex;
    cursor: pointer;
    border-radius: 15px;
    background-color: rgba(217, 217, 217, 0.3);
    width: 20%;
    height: 50px;
    color: white;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    transition: 0.5s all ease-in;
}
.nav-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: border-color 0.3s;
    transition: box-shadow 0.3s;
}
.nav-item:hover{
    background-color: rgba(238, 238, 238, 0.5);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
}
.nav-item:hover::before {
    border-color: white;
    animation: drawBorder 0.8s ease-in-out forwards;
}
@keyframes drawBorder {
    0% {
      clip-path: polygon(
        0% 0%, 
        0% 0%, 
        0% 0%, 
        0% 0%
      );
    }
    25% {
      clip-path: polygon(
        0% 0%, 
        100% 0%, 
        100% 0%, 
        0% 0%
      );
    }
    50% {
      clip-path: polygon(
        0% 0%, 
        100% 0%, 
        100% 100%, 
        100% 100%
      );
    }
    75% {
      clip-path: polygon(
        0% 0%, 
        100% 0%, 
        100% 100%, 
        0% 100%
      );
    }
    100% {
      clip-path: polygon(
        0% 0%, 
        100% 0%, 
        100% 100%, 
        0% 100%
      );
    }
  }
.dialog-title {
    font-size: 60px;
    text-align: center;
}
#map {
    position: relative;  /* Необходимо для абсолютного позиционирования внутри */
    width: 100%;
    height: 100vh;
  }
  
  #scaleDisplayContainer {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(255,255,255,0.8);
    padding: 5px;
    border-radius: 3px;
    z-index: 1000;  /* Должен быть выше элементов карты */
  }
h1, h2, h3{
    text-align: center;
    line-height: 0.8;
}
h1{
    font-size: 80px;
}
h2{
    font-size: 55px;
    margin: 0; 
}
h3{
    font-size: 40px;
    margin: 0; 
}
.main-page {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    height: calc(100vh - 80px);
    text-align: center; 
}
.blur {
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(15px);
    height: 100%;
    width: 100%;
    transition: all 0.5s ease;
    z-index: 1000;
}
.close-modal-button{
    display: block;
    width: 50px;
    height: 50px;
    background: transparent;
    font-size: 35px;
    color: white;
    outline: none;
    line-height: 0;
    margin-top: 0;
    margin-left: auto;
    transition: filter 0.5s ease-in;
}
.close-modal-button:hover{
    filter: drop-shadow(0 0 5px white);
}

.building-body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.building-header{
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 5px solid white;
    color: white;
}
.canvas-moon{
    width: 100%;
    height: calc(100vh - 79px);
}

/*карта*/
.ol-zoom {
  top: 23.5em !important;
  right: .5em !important;
  left: 0 !important; 
}
/*кнопки справа сбоку*/
.burger-checkbox {
    position: absolute;
    visibility: hidden;
}
.burger {
    cursor: pointer;
    display: inline-block;
    position: relative;
    border: none;
    background: transparent;
    width: 40px;
    height: 26px;
    color: #E1EDF9;
    transition: transform 0.3s ease;
}
.burger-line {
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.map-container {
    position: relative;
    width: 100%;
    height: 100vh; /* или любая другая высота */
    background-color: gray;
}
.nav-map-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Убедитесь, что nav выше карты */
    padding: 10px;
    box-sizing: border-box;
    text-align: right;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 0;
}
/*меню выбора модулей*/
.dropdown-menu{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    top: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: white;
    align-items: center;
    border-bottom-left-radius: 15px; 
    border-bottom-right-radius: 15px; 
    border-top-left-radius: 15px; 
    padding-bottom: 50px;
    margin-right: 70px;
    margin-top: 5px;
    transition: all 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.dropdown-menu:hover {
    background-color: #ff8a8a; /* Цвет фона при наведении */
}
/*появление меню*/
.burger-checkbox:checked ~ .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.burger-checkbox:checked ~ .dropdown-menu .dropdown-menu-btn {
    transform: translateX(0);
    opacity: 1;
}
/* Индивидуальные задержки для каждой кнопки */
.dropdown-menu-btn:nth-child(1) {
    transition-delay: 0.1s;
}
.dropdown-menu-btn:nth-child(2) {
    transition-delay: 0.2s;
}
.dropdown-menu-btn:nth-child(3) {
    transition-delay: 0.3s;
}
.dropdown-menu-btn:nth-child(4) {
    transition-delay: 0.4s;
}
.dropdown-menu-btn:nth-child(5) {
    transition-delay: 0.5s;
}
.dropdown-menu-btn{
    display: flex;
    width: 70%;
    background-color: #948b99e0;
    text-align: left; 
    align-items: center;
    margin-top: 15px;
    padding-left: 10px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    transition-property: transform, opacity;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transform: translateX(-10px);
    opacity: 0;
}
.dropdown-menu-btn:hover{
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.8);
}
.dropdown-menu-btn:active{
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
}
.dropdown-menu-btn:first-child{
    margin-top: 0;
}
.dropdown-menu-btn.exit-btn{
    background-color: rgba(183, 0, 0, 0.8);
}
.dropdown-menu-btn.exit-btn:hover{
    box-shadow: 0 0 13px #ff0000;
}
.dropdown-menu-btn.exit-btn:active{
    box-shadow: inset 0 0 7px rgb(100, 0, 0);
}
.dropdown-menu-btn.exit-btn span{
    color: white;
}
.dropdown-menu-btn svg {
    width: 20px;
    height: 20px; 
}
.dropdown-menu-btn span {
    margin-left: 5px;
}
/* Анимация бургера в крестик */
.burger-checkbox:checked + .burger .bottom {
    transform: translateY(-30px) rotate(-45deg);
}

.burger-checkbox:checked + .burger svg rect:first-child {
    transform: rotate(45deg) translate(0px, 0px);
}

.burger-checkbox:checked + .burger svg rect:nth-child(2) {
    opacity: 0;
}

.burger-checkbox:checked + .burger svg rect:last-child {
    transform: rotate(-45deg) translate(-55px, -15px);
}

/* Показываем меню при активации */
.burger-checkbox:checked ~ .dropdown-menu {
    display: flex;
}

.confirm-dialog{
    font-family: 'Jura';
    width: 30%;
    height: 35%;
    overflow: hidden;
    border-radius: 20px;
    background: linear-gradient(to bottom, #B2A2B3, #6F6470);
    padding-top: 10px;
    box-sizing: border-box;
    animation: dialogFadeIn 0.3s ease-out forwards;
    transition: height 0.5s ease;
}
.content-confirm-dialog{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.confirm-dialog::backdrop {
    background: none;
    backdrop-filter: none;
}
.confirm-dialog p{
    font-size: 40px;
    text-align: center;
}
.confirm-dialog span{
    font-size: 22px;
    text-align: center;
    color: #D9D9D9;
    padding-top: 20px;
}
.confirm-dialog-btns{
    justify-content: space-around;
    margin-top: auto;
    margin-bottom: auto;
}
.confirm-dialog-btns button{
    width: 40%;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    transition: all 0.5s ease;
}
#cancelBtn{
    background-color: #c0c0c0e0;
}
#confirmBtn{
    color: #D9D9D9;
    font-weight: 700;
    background: linear-gradient(to bottom, #d41616, #910202);
}
#confirmBtn:hover, #cancelBtn:hover{
    transform: scale(1.025);
}

/*выбор модулей*/
.main-content {
    flex: 1;
    position: relative;
}
.modules-sidebar {
    position: fixed;
    top: 50%;
    left: -100%; 
    width: 78%;
    height: 98vh;
    margin-left: 0.25%;
    margin-right: 0.25%;
    background: rgba(170, 170, 170, 0.9);
    transition: all 0.5s cubic-bezier(0.4, 0, 1, 1); /* Более плавная кривая анимации */
    z-index: 1000;
    border-radius: 25px;
    transform: translateY(-50%);
    opacity: 0; /* Начальная прозрачность */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Добавим тень для глубины */
    overflow: hidden;
}

.modules-sidebar.visible {
    left: 0; 
    transform: translateY(-50%);
    opacity: 1; /* Полная видимость при появлении */
}

.modules-sidebar p,
.modules-sidebar span {
    font-family: 'Jura';
    text-align: center;
}
.modules-sidebar-title{
    font-size: 50px;
    font-weight: 600;
    color: #D4F7FF;
    filter: drop-shadow(0 0 7px black);
}
.sidebar-header{
    margin-top: 10px;
}
.sidebar-header button{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 5px;
    padding-right: 10px;
}
.modules-choice-type {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    height: 90%;
    gap: 35px;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5%;
    margin-right: 5%;
}
.module-card {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.4s ease-out;
    border-radius: 12px;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.modules-sidebar.visible .module-card {
    opacity: 1;
    transform: translateY(0);
}
/* Индивидуальные задержки для каждой карточки */
.modules-sidebar.visible .inhabited-modules {
    transition-delay: 0.45s;
}
.modules-sidebar.visible .technological-modules {
    transition-delay: 0.55s;
}
.inhabited-modules{
    background: url(photos/inhabited_modules.png);
}
.technological-modules{
    background: url(photos/technological_modules.jpg);
}
.inhabited-modules, .technological-modules{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/*карточки + список уведомлений*/
.modules-container {
    height: 90%;
    margin: 1% 5%;
    transition: all 0.4s ease-out;
    overflow-x: auto;
    overflow-y: hidden;
}

.modules-back-button {
    margin-bottom: 20px;
    cursor: pointer;
    color: #ccc;
    transition: color 0.3s;
}
.modules-back-button:hover {
    color: white;
}

.modules-list {
    display: flex; /* Используем Flexbox */
    flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
    gap: 20px; /* Промежуток между элементами */
    overflow-y: auto; /* Вертикальная прокрутка, если содержимое превышает высоту */
    max-height: calc(100% - 30px); /* Максимальная высота */
    padding-bottom: 100px;
}

.item-module {
    display: flex; /* Используем Flexbox для центрирования содержимого */
    flex-direction: column; /* Вертикальное расположение содержимого */
    align-items: center; /* Центрирование по горизонтали */
    justify-content: center; /* Центрирование по вертикали */
    width: calc(33.33% - 20px); /* Ширина элемента (3 колонки) с учетом отступов */
    padding: 10px;
    aspect-ratio: 4/3.3;
    background-color: #F8FEFF;
    border-radius: 10px;
    cursor: pointer;
    min-width: 0; /* Позволяет элементу сжиматься */
}

.photo-item-module {
    border-radius: 5px;
    width: 100%; /* Задает ширину изображения 100% от родительского элемента */
    height: 90%;
    object-fit: cover;
}

.name-module {
    display: flex; /* Используем Flexbox */
    align-items: flex-end; /* Выравнивание по вертикали к низу */
    font-size: 20px;
    word-wrap: break-word; /* Позволяет переносить длинные слова */
    overflow-wrap: break-word; /* Современный аналог word-wrap */
    white-space: normal; /* Убедитесь, что текст может переноситься */
}


/*уведы список*/
.notification-item{
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.4s ease-in;
    background-color: #D9D9D9;
    padding: 2%;
    border-radius: 25px;
    margin-top: 10px;
}
.modules-sidebar.visible .notification-item {
    transition-delay: 0.45s;
    opacity: 1;
    transform: translateY(0);
}
.notification-header{
    display: flex;
    justify-content: space-between;
}
.notification-header svg{
    transition: all 0.3s ease-in;
    cursor: pointer;
}
.notification-header svg:hover{
    filter: drop-shadow(0 0 5px black);
}
.notification-item p{
    text-align: left;
}
.notification-text{
    font-size: 20px;
    margin-top: 1%;
}
.notification-title{
    font-size: 36px;
    font-weight: 600;
}

/*уведоиление всплывающее*/
.custom-notification {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 15px 25px;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 10000;
    pointer-events: none;
}
  
.custom-notification.show {
  opacity: 1;
}

@keyframes dialogFadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px) scale(0.95);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

/*popup модуля*/
.module-popup {
    font-family: 'Jura', sans-serif;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    overflow: hidden;
}
.module-popup-header {
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    text-align: center;
}
.module-popup-content{
    padding: 5px;
}
.module-popup-image {
    padding: 10px;
    text-align: center;
}
.ol-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    padding: 0;
    border-radius: 5px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 220px;
}

/* Стили для раскрывающегося блока */
.expandable-section {
    margin-bottom: 5px;
  }
  
  .expandable-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .expand-hint {
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    color: #424242;
    text-align: right;
    margin-top: 2px;
    transition: all 0.3s ease;
    text-align: left;
  } 
  .expand-icon {
    display: inline-block;
    font-size: 12px;
    transition: transform 0.3s ease;
  }
  
  
  .expandable-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding-left: 15px;
  }
  
  .expandable-section.expanded .expandable-content {
    max-height: 300px; /* Достаточно для содержимого */
  }
  
  .expandable-section.expanded .expand-icon {
    transform: rotate(180deg);
  }
  
  .distance-list {
    margin: 5px 0 0 0;
    padding-left: 15px;
  }
  
  .distance-list li {
    margin-bottom: 3px;
    font-size: 13px;
  }
.main-buttons{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}
.zones-checkboxes{
    display: none;
    text-align: start;
    padding-top: 10px;
}
.title-zones-checkboxes{
    font-size: 24px;
}
.subtitle-zones-checkboxes{
    font-size: 20px;
}
.dropdown-menu-checkbox-container{
    width: 90%;
    margin-left: 3%;
}

.zones-panel {
    width: 100%;
    margin: 0 auto;
  }
  
  .slope-control {
    width: 100%;
    margin-top: 15px;
  }
  
  .slope-toggle-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #c0c0c0e0;
    text-align: left;
    padding: 0 10px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    transition: all 0.4s ease;
    transform: translateX(0);
    opacity: 1;
    cursor: pointer;
  }
  
  .slope-toggle-btn:hover {
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.8);
  }
  
  .slope-toggle-btn:active {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
  }
  
  .slope-arrow {
    transition: transform 0.3s ease;
    font-size: 14px;
    margin-left: 10px;
  }
  
  .slope-options {
    max-height: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: max-height 0.4s ease-out;
    width: 95%;
    margin: 5px auto 0;
  }
  
  .slope-control.expanded .slope-options {
    max-height: 120px;
  }
  
  .slope-control.expanded .slope-arrow {
    transform: rotate(180deg);
  }
  
  .slope-option {
    display: flex;
    align-items: center;
    background-color: #d0d0d0e0;
    padding: 8px 15px;
    border-radius: 8px;
    margin-bottom: 5px;
    font-size: 18px;
  }
  .slope-option.checked, .slope-toggle-btn.checked {
    background-color: #a0a0a0e0;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  }
  .slope-option input {
    margin-right: 10px;
    width: 18px;
    height: 18px;
  }
  
  .slope-option label {
    cursor: pointer;
  }
  .slope-checkbox-custom {
    position: relative;
    height: 20px;
    width: 20px;
    background-color: #e0e0e0;
    border-radius: 4px;
    transition: all 0.3s;
  }
  .header-zones-checkboxes{
    display: flex;
    align-items: center;
  }
  /*choose page*/
  .choose-place-body{
    font-family: 'Jura';
    background-image: url('photos/bg_choose.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #e7beff;
  }
  .choose-place-body header{
    margin-top: 25px;
    color: white;
  }
  .cards-places{
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: flex-start;
  }
  .card-place {
    border: 1px solid #5a189a;
    width: 30%;
    height: 52vh;
    border-radius: 15px;
    background-color: #070013;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    position: relative;
}
.card-place:nth-child(1) {
    box-shadow: 0px 0px 15px 10px #420b75;
}
.card-place:nth-child(2) {
    box-shadow: 0px 0px 15px 10px #3c096c;
}
.card-place:nth-child(3) {
    box-shadow: 0px 0px 15px 10px #380766;
}
.card-place:hover {
    height: 80vh;
    box-shadow: 0px 0px 15px 10px #5a189a;
}

.card-content {
    flex: 1;
    overflow: hidden;
}

.hidden-text {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.6s ease-in;
    display: block;
    width: 95%;
    margin: 0 auto;
    color: #f0d6ff;
}

.card-place:hover .hidden-text {
    opacity: 1;
    height: auto;
}

.card-place-image {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    width: 95%;
    border-radius: 10px;
}

.card-place-submit {
    height: 50px;
    width: 130px;
    background: #240046;
    margin-left: auto;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #c77dff;
    align-self: flex-end;
    font-size: 20px;
    transition: all 0.3s ease;
}
.card-place-submit:hover {
    color: #e0aaff;
    background: #3c096c;
}
  .choose-place-main{
    flex: 1;
    display: flex;
    align-items: center;
  }
  .choose-place-footer{
    text-align: center;
    height: 50px;
  }
  .footer-text{
    position: relative;
    display: inline-block;
    color: #c77dff; /* Фиолетовый цвет текста */
    cursor: pointer;
    transition: color 0.3s ease;
    font-size: 20px;
  }
.footer-text:hover {
    color: #e0aaff; /* Более светлый оттенок при наведении */
}

.footer-text::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 0;
    height: 2px;
    background: #e0aaff;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.footer-text:hover::after {
    width: 100%;
}

/*диалог сохранить*/

#cancelSaveBtn{
    background-color: #c0c0c0e0;
}
#saveBtn{
    color: #D9D9D9;
    font-weight: 700;
    background: linear-gradient(to bottom, #2f9102, #049c2a);
}
#saveBtn:hover, #cancelSaveBtn:hover, .format-file-btn:hover{
    transform: scale(1.025);
}
.formats-files{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: auto;
}
.format-file-btn {
    width: 70px; 
    height: 70px;
    border: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.3s ease-in;
}
.format-file-btn:hover{
    transform: scale(1.03);
    filter: drop-shadow(0 0 3px white);
}
.format-file-btn:active{
    transform: scale(1.1);
    filter: drop-shadow(0 0 3px white);
}
.format-file-btn.clicked{
    transform: scale(1.1);
    filter: drop-shadow(0 0 4px rgb(0, 255, 0));
}
.png-btn {
    background-image: url('logo/png.png');
}

.json-btn {
    background-image: url('logo/json.png');
}

.pdf-btn {
    background-image: url('logo/pdf.png');
}
.parametrs-to-export p{
    font-size: 18px;
    color: white;
}
.save-inputs-group {
    border: 2px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    background-color: transparent;
}   
.save-inputs-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
.extent-inputs-row {
    display: grid;
    grid-template-columns: 1fr auto; 
    gap: 10px;
    align-items: center;
    margin: 0 auto;
    width: 95%;
}
.input-wrapper {
    width: 45%;
}
.input-wrapper input {
    width: 100%;
    padding: 6px;
    font-size: 14px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}
.bbox-inputs-row input::placeholder, .extent-inputs-row input::placeholder {
    color: white; 
    opacity: 1;
}
.bbox-inputs-row input::-webkit-input-placeholder, .extent-inputs-row input::-webkit-input-placeholder {
    color: white;
}
.toggle-extent-arrow{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 10px;
    vertical-align: middle;
    padding: 0 !important;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid #ffffff;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.collapsed .toggle-arrow {
    transform: rotate(180deg);
}
.checkbox-user-bbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.extent-label-text{
    text-align: left !important;
}
.checkbox-user-bbox label{
    color: black;
}
.checkbox-user-bbox input[type="checkbox"] {
    margin-right: 5px;
}
.percent-value {
    display: inline-block;
    font-family: monospace; /* выравнивание цифр */
}
.bbox-inputs-row span, .extent-inputs-row span{
    padding: 0;
}
.bbox-inputs-row label, .extent-inputs-row label{
    width: 50%;
    text-align: end;
}
.label-value {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr; 
    gap: 2px;
}
.bbox-inputs-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
}
